em, strong {
    display: block;
}

img { /* images are actually important here */
    max-width: none !important;
    max-height: none !important;
    width: auto !important;
    height: auto !important;
}