<a href="{{ .Get 0 }}" 
   class="icon-link text-decoration-none d-inline-flex align-items-center justify-content-center p-2"
   style="width: 64px; height: 64px; text-decoration: none;">
  <img src="{{ .Get 1 }}" 
       class="icon-img"
       width="56" 
       height="56" 
       alt="{{ .Get 2 }}" 
       style="filter: brightness(0) saturate(100%) invert(24%) sepia(93%) saturate(3986%) hue-rotate(353deg) brightness(92%) contrast(110%); border: none !important; outline: none !important; box-shadow: none !important;">
</a>